<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>HOME</title>
	<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<style media="screen">
		h1 {
			padding: 35px;
			font-family: 'Playfair Display SC', serif;
		}

		li {
			list-style-type: none;
		}

		h2 {
			padding: 10px;
			margin-top: 150px;
			font-family: 'Cinzel Decorative', cursive;
		}

		p {
			margin-left: 100px;
			margin-right: 100px;
			display: center;
		}

		a {
			color: black;
			text-decoration: none;

		}


		.nav-item {
			color: black;
		}

		.footer {
			background-color: #F1F1F1;
			text-align: right;
			padding: 10px;
		}

		* {
			box-sizing: border-box;
		}

		.button {
			margin-top: 30px;

		}

		.page-button {
			transition-duration: 0.4s;
			padding: 5px;
			background-color: white;

		}

		.page-button:hover {
			background-color: grey;
			color: white;
		}

		.row {
			display: flex;
		}

		.column {
			flex: 50%;
			height: 700px;
			text-align: center;
		}



		#main {
			width: 100%;
			height: 50%;
		}

		#column1 {
			width: 100%;
			height: 700px;

		}
	</style>

</head>

<body>
	<header>
		<h1>Blue Plates</h1>



		<nav class="navbar justify-content-end navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" href="/HOME">HOME <span class="sr-only">(current)</span></a>
					<a class="nav-link" href="/MENU">MENU</a>
					<a class="nav-link" href="/ABOUT">ABOUT</a>
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
				</div>
			</div>
		</nav>


		<section class="banner">
			<img id="main" src="img/mainTwo.jpg" alt="">
		</section>

		<section class="row">
			<section class="column" style="background-color:;">
				<img id="column1" src="img/auckland-restaurant.jpeg" width="600px" height="px" alt="">
			</section>
			<section class="column">
				<section class="inner-column">
					<h2>Menu</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales metus sed
						erat tincidunt aliquam. Vivamus bibendum laoreet libero, non euismod augue malesuada vel.
						Curabitur placerat nisi velit. Maecenas id odio vel odio blandit. Suspendisse placerat
						nec metus non sollicitudin. Vivamus iaculis, ex at maximus egestas, justo erat gravida mi,
						et feugiat metus nunc non magna.
					<section class="button">
						<button class="page-button" type="button" name="button"><a href="/menu">Menu</a></button>
					</section>

					</p>
				</section>
			</section>

		</section>




		<section class="row">
			<section class="column">
				<section class="inner-column">
					<h2>About</h2>
					<p>Cras in augue dignissim libero vulputate tincidunt non vel nisl.
						Duis id odio aliquet, lobortis est at, porta risus. Mauris lacus enim,
						elementum vel metus a, hendrerit efficitur mi. Pellentesque imperdiet sapien
						ac mi aliquet rutrum. Donec sem orci, pharetra vehicula vestibulum tincidunt,
						tempor id augue. Morbi vulputate lorem vitae vehicula elementum.
					<section class="button">
						<button class="page-button" type="button" name="button"><a href="/about">About Us</a></button>
					</section>

					</p>
				</section>

			</section>
			<section class="column">
				<img id="column1" src="img/fish.jpg" width="600px" height="px" alt="">
			</section>
		</section>

		<section class="row">
			<section class="column" style="background-color:;">
				<img id="column1" src="img/0004.jpg" width="600px" height="px" alt="">
			</section>
			<section class="column">
				<section class="inner-column">
					<h2>Reservations</h2>
					<p>Integer elit lacus, accumsan vel ipsum ac, tincidunt hendrerit libero. In id lectus
						ac eros interdum vulputate sed nec nibh. Suspendisse potenti. Maecenas maximus velit sit
						amet ipsum pellentesque finibus. Nullam scelerisque eget risus ac consectetur. Pellentesque
						tristique nunc non orci condimentum commodo. Sed dictum volutpat arcu, sed cursus dui laoreet
						 sit amet. Aenean enim ipsum, tincidunt ac hendrerit porta, sollicitudin eget enim.

					<section class="button">
					<p id="num">
						949-990-0000

					</p>
					</section>

					</p>
				</section>
			</section>

		</section>
		<div class="footer">
			<button class="page-button" type="button" name="button"><a href="/about"><a href="/reservations/new">Employees</a></a></button>

		</div>
</body>

</html>
