<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Show Page for menu item</h1>
			<nav>
				<ul>
					<li>
						<a href="/home">Home</a>
					</li>
					<li>
						<a href="/menu"> menu</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2>Food Attributes:</h2>
				<ul>
					<li></li>
				</ul>
			</section>
		</main>
	</body>
</html>
